<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebCart: Browse Tech Products</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="/WebCartProject/static/css/browse-page.css">
</head>
<body>

    <header>
        <div class="nav">
            <div><h1>WebCart</h1></div>
            <div><input></div>
            <div><img src="shoppingcart.jpg"></div>
            <div><img src="account.jpg"></div>
        </div>
    </header>
    
    
<div class="main-container">
        <div class="product-list">
        <h1>WebCart: Browse Tech Products</h1>

        <div id="productList">
        <!-- Tech products will be displayed here -->
        </div>
    </div>

    <div class ="chatbot-section">
        <!-- The chatbot section will be displayed here -->
        <h1>Chatbot</h1>
        <div id="filters">
            <div class="checkbox-container">
                <input type="checkbox" name ="apple">
                <label for="apple">Apple</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" name ="samsung">
                <label for="samsung">Samsung</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" name ="laptop">
                <label for="laptop">Laptop</label>
            </div>
            
            
        </div>
    </div>

</div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/WebCartProject/static/js/script.js"></script>

</body>
</html>
